.book-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly; /* Ensures even spacing across the row */
  align-items: stretch; /* Ensures all cards align in height */
}

.book-cards {
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(25% - 32px); /* Ensures four cards per row with consistent spacing */
  max-width: 250px; /* Sets a maximum width for responsive design */
  min-width: 220px; /* Minimum width */
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-cards:hover {
  transform: scale(1.05) rotateX(10deg) rotateY(10deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-cover {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.book-cards:hover .book-cover {
  transform: scale(1.1);
}

.book-info {
  text-align: center;
  margin-top: 10px;
  flex-grow: 1;
}

.book-title {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.8em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.book-author {
  font-size: 14px;
  margin: 5px 0;
  color: black;
}
