.search-bar {
  display: flex;
  align-items: center;
  padding: 0; /* Remove padding to fit better in the navbar */
}

.search-bar input {
  width: 400px; /* Adjust width for a cleaner look */
  padding: 9px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 40px; /* Makes the search bar more circular */
  margin-right: 10px;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.search-bar input:focus {
  box-shadow: 0 0 5px rgba(50, 152, 219, 0.5); /* Subtle shadow on focus */
}

.search-bar button {
  margin-left: 20px;
  padding: 8px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 20px; /* Match the search bar's rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar button:hover {
  background-color: #2980b9;
  box-shadow: 0 0 5px rgba(41, 128, 185, 0.5); /* Add shadow on hover */
}
